@import 'styles/header-footer';
@import 'styles/frontpage';
@import 'styles/product-order';
@import 'styles/product-list';
@import './styles/product-detail';

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
