@import 'styles/product-order.scss';
@import 'styles/frontpage.scss';
@import 'styles/header-footer.scss';
@import 'styles/product-list.scss';
@import './styles/product-detail';

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
