

// Á eftir að paste-a þessu inn styles.scss skjalið



  

  
  .tilbodsvika-lysing {
      display: flex;
      flex-direction: column;
  }
  
  .product-cards  {
      display: flex;
      flex-direction: column;
      background-color: #E1CEC2;
      padding: 15px;
  
      img {
          width: 100%;
          object-fit: contain;
      }
  }
  
  /* Button styling */
  
  .button {
      width: 477px;
      height: 444px;
      margin: 2rem auto 1.5rem auto;
      
      background-color: #6F4E37;
      color: white;
      border: none;
      border-radius: 5px;
  }
  
  /* ath: af hverju virkar þetta style-ing á button ekki? */
  .button a:link {
      color: white;
      text-decoration: none;
  }