@font-face {
    font-display: swap;
    font-family: 'lato';
    font-style: normal;
    src: url('./fonts/Lato-Regular.ttf') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'lato';
    font-style: normal;
    src: url('./fonts/Lato-Regular.ttf') format('woff');
  }

  /* ref: https://fonts.google.com/specimen/Lato */

  /* ath: skoða nánar hvernig eigi að nota */