/* Að mestu byggt á sýnilausn við verkefni 6 í vefforritun */
/* ath: skiptir máli í hvaða röð base og config eru, þ.e. hvort breytur í config þurfi að koma fyrst? */

/* -------------------------------------------------------------------------- */
/*                        @import 'styles/config.scss'                        */
/* -------------------------------------------------------------------------- */

$max-width: 1440px;

$color-text: #222;
$color-text-secondary: #222;
$color-link: #069;
$color-border: #ccc;

// Letur stillingar
$spacing: 1rem;
$font-size: 16px;
$font-family-base: 'Lato', Helvetica, Arial, sans-serif;
$font-family-heading: 'Lato', Georgia, serif;
/* ath: skoða hvernig eigi að tengja font rétt */

// Grid stillingar
$grid-columns: 12;
$grid-gutter: 30px;
$grid-offset: 20px;

/* ath: af hverju þarf að setja scss breytu í css breytu með "interpolation", í stað þess að skrifa bara beint í? sbr texti osk: "Skilgreinum breytur sem sass breytur, en gerum einnig aðgengilegar sem css breytur" */

:root {
  --spacing: #{$spacing};
  --max-width: #{$max-width};

  --color-text: #{$color-text};
  --color-text-secondary: #222;
  --color-link: #{$color-link};
  --color-border: #{$color-border};

  --font-size: #{$font-size};
  --font-family-base: #{$font-family-base};
  --font-family-heading: #{$font-family-heading};

  
  --columns: #{$grid-columns};
  --gutter: #{$grid-gutter};
  --offset: #{$grid-offset};
}

/* -------------------------------------------------------------------------- */
/*                        @import 'styles/base.scss'                        */
/* -------------------------------------------------------------------------- */

/* „reset“ til að fjarlægja margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* bordex-box á allt */
html {
  box-sizing: border-box;
  width: 100%; /* ath: hvaða áhrif hefur að setja widht og max-width á html element? */
  justify-content: center;
}

/* og látum erfast niður */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  /* á frekar að nota scss breytur hér með interpolation? (skiptir máli hvaða röð config og base scss eru?*/
}

/* -------------------------------------------------------------------------- */
/*                       @import 'styles/layout.scss'                       */
/* -------------------------------------------------------------------------- */

/* ath: í "mobile first" má raða öllum klösum í röð, þ.e. með og án media queries - eða á að safna öllum media queries neðst? */


.wrapper {
  display: flex;
  flex-direction: column;
}
/* ath: should grid or flex be used for a grid on "mobile version" where only one column */

/* nota postition: absolute */

header {
    display: flex;
    padding: 0.5rem 0.55rem 0; /* rem=16px, figma sýnir 10 px */

    position: absolute;
    justify-content: space-between;

    .header-left {
        display: flex;

    }

    .header-right {
        display: flex;
        align-items: center;
    }

    .header-right__svg {
        padding-left: 1rem;
    }

        
    .svg__gear {

        
    }

    h2 {
        font-size: 1.5rem;
    }

    label {
        display: none;
    }

    .links {
        display: none;
    }
}

.tilbodsvika {
    height: 343px; /* ath: fæ ekki til að verða að réttri hæð */
    background-image: url(../images/wires.jpg);
    background-color: #cccccc; /* hvernig finn ég nákvæmlega litinn í sjálfri myndinni? */
    background-repeat: no-repeat;
    background-size: cover; /* background-size eða object-fit? */

    h1 {
        margin-top: 20%;
    }

    h1, p {
        text-align: center;
        align-items: center;
        /* ath: þarf að hafa h1, p nested inn í .tilbodsvika */
    }
}

.tilbodsvika-lysing {
    display: flex;
    flex-direction: column;

    button {
        width: 177px;
        height: 44px;
        margin: 2rem auto 1.5rem auto;
        background-color: #6F4E37;
        color: white;
        border: none;
        border-radius: 5px;
    }

}

.nyjustu-vorur  {
    display: flex;
    flex-direction: column;
    background-color: #E1CEC2;
    padding: 15px;

    img {
        width: 100%;
        object-fit: contain;
    }
}


@media (min-width: 501px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 565px 520px 668px 520px 668px 233px; /* 233px röðin er footer. Það virðist ekki sambærileg röð fyrir header (í figma) */
    gap: 20px;
  
    margin: 0 auto;
  }


  .tilbodsvika-lysing {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1; /* þarf að setja stillingu "1" á grid-row? */
  }


  .area-2 {
    display: flex;
    flex-wrap: wrap; /* af hverju virkar ekki flex-direction: column; */
}
    .area-1 header {
    position: absolute;
    top: 176px;
    text-align: center; 
    /* hefði getað verið align-self: center */
}

.area-1 header h1 {
    font-size: 80px; /* í figma er stærðin 160px */
  }

}




/* ToDo: gera wire myndina hazy */



