
a {
  color: #000;
  text-decoration: none;
}

.price {
  font-weight: 700;
}

.button-buy {
  align-items: center;
  border: 1px solid #6f4e37;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 10px 15px;

  a {
    color: #3c2a1e;
    font-weight: 700;
  }
}

.main-text {
  line-height: 2rem;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: 4em auto 0;
  max-width: 1440px;
  width: calc(100% - (2 * 20px));
}

.detail-picture {
  grid-column: 1 / 13;
  width: 100%;
}

.product-detail {
  grid-column: 1 / 13;

  .price-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .main-text {
    margin-top: 2em;
  }

  .price {
    margin-top: 1em;
  }

  .button-buy {
    margin-top: 7px;
  }

  a {
    padding: 0 7em;
  }

  h1 {
    font-weight: normal;
  }
}

.product-properties {
  grid-column: 1 / 13;

  .properties-header1 {
    font-size: 2em;
    margin-bottom: 2em;
  }

  h2 {
    font-size: 1.8em;
    font-weight: normal;
  }

  .main-text {
    margin-bottom: 2em;
  }
}

.labels {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: 1em 0;

  p {
    background-color: #e1cec2;
    border-radius: 5px;
    flex: none;
    flex-grow: 0;
    margin: 0 10px 0 0;
    padding: 5px;
  }
}

.product-related {
  background-color: #e1cec2;
  width: 100%;
}

.product-related-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  padding-bottom: 2em;
  width: calc(100% - (2 * 20px));

  h2 {
    font-size: 2em;
    font-weight: normal;
    grid-column: span 12;
    margin: 1em 0 auto;
  }

  .detail-card-grid {
    grid-column: span 12;
  }
}

.product-card {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;

  img {
    height: 14em;
    object-fit: cover;
    width: 100%;
  }

  .product-header {
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 1em;
  }
}

@media (min-width: 700px) {
  .product-related-grid {
    .detail-card-grid {
      grid-column: span 6;
    }
  }

  .product-detail {
    h1 {
      font-size: 4em;
    }
  }
}

@media (min-width: 1200px) {
  .detail-picture {
    grid-column: span 6;
  }

  .product-detail {
    grid-column: span 6;

    .price {
      font-size: 20px;
      margin-top: 0.8em;
    }
  }

  .main-text {
    font-size: 1.25em;
  }

  .product-properties {
    grid-column: 3 / 11;
    margin-top: 5em;
  }

  .product-related {
    margin-top: 2em;
  }

  .product-related-grid {
    .detail-card-grid {
      grid-column: span 3;
    }
  }

  .product-card {
    img {
      height: 10em;
    }
  }
}
