.nyjarvorur h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  line-height: 80px;
  margin-left: 1rem;
}

.radaeftir h3 {
  margin-left: 1rem;
}

.list-labels {
  .labels {
    margin-left: 1rem;
  }
}

.product-site {
  background-color: #e1cec2;
  width: 100%;
}

.product-site-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  padding: 2em 0;
  width: calc(100% - (2 * 20px));

  .detail-card-grid {
    grid-column: span 12;
  }
}

@media (min-width: 700px) {
  .product-site-grid {
    .detail-card-grid {
      grid-column: span 6;
    }
  }
}

@media (min-width: 1200px) {
  .detail-picture {
    grid-column: span 6;
  }

  .product-detail {
    grid-column: span 6;

    .price {
      font-size: 20px;
      margin-top: 0.8em;
    }
  }

  .main-text {
    font-size: 1.25em;
  }

  .product-properties {
    grid-column: 3 / 11;
    margin-top: 5em;
  }

  .product-site {
    margin-top: 2em;
  }

  .product-site-grid {
    .detail-card-grid {
      grid-column: span 3;
    }
  }

  .product-card {
    img {
      height: 10em;
    }
  }
}
